<a href="https://colab.research.google.com/github/pavi-ninjaac/SARS_CoV_2_DNA_Analysis/blob/main/CGR_Classification_HIVvscovid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DNA Classification using CGR

In [2]:
! pip install Bio

Collecting Bio
  Downloading https://files.pythonhosted.org/packages/83/ec/efbae4632107776961f4a1d3607117a4412b9e798609956c664e9c0157f4/bio-0.3.0-py3-none-any.whl (70kB)
     |████████████████████████████████| 71kB 5.5MB/s
Collecting biopython>=1.78
  Downloading https://files.pythonhosted.org/packages/3a/cd/0098eaff841850c01da928c7f509b72fd3e1f51d77b772e24de9e2312471/biopython-1.78-cp37-cp37m-manylinux1_x86_64.whl (2.3MB)
     |████████████████████████████████| 2.3MB 11.3MB/s
Requirement already satisfied: pytest in /usr/local/lib/python3.7/dist-packages (from Bio) (3.6.4)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from Bio) (2.23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from biopython>=1.78->Bio) (1.19.5)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.7/dist-packages (from pytest->Bio) (1.4.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from pytest->Bio) (1.10.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from pytest->Bio) (20.3.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.7/dist-packages (from pytest->Bio) (0.7.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pytest->Bio) (53.0.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from pytest->Bio) (1.15.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from pytest->Bio) (8.7.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->Bio) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->Bio) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->Bio) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->Bio) (1.24.3)
Installing collected packages: biopython, Bio
Successfully installed Bio-0.3.0 biopython-1.78

In [19]:
from Bio import SeqIO
import numpy as np
import pandas as pd
from collections import defaultdict
import math
import matplotlib.pyplot as plt
from matplotlib import cm

#machine learning 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score

In [5]:
def generate_data(file_list):
  X = []
  y = []
  label = 1 # for hiv
  for i in file_list:
    filepath = '/content/drive/MyDrive/Colab Notebooks/dataFiles/DNA_Genome_Analysis_covid19/'+i+'.fasta'
    records = list(SeqIO.parse(filepath , 'fasta'))

    for index in range(len(records)):
      X.append(str(records[index].seq))
      y.append(label)
    label = 0 #for covid19
  
  data = pd.DataFrame({'DNASequence' : X , 'label' : y})

  return data

In [50]:
file_list = ['HIV' , 'covid19']
data = generate_data(file_list)
data.head(5)

                                         DNASequence  label
0  CCTCAAATCACTCTTTGGCAGCGACCCCTGGTCTCAATAAAAGTAG...      1
1  CCTCAAATCACTCTTTGGCAGCGACCCCTGGTCTCAATAAAAGTAG...      1
2  CCTCAAATCACTCTTTGGCAGCGACCCCTGGTCCCAATAAAAGTAG...      1
3  CCTCAAATCACTCTTTGGCAGCGACCCCTGGTCTCAATAAAAGTAG...      1
4  CCTCAAATCACTCTTTGGCAGCGACCCCTGGTCYCAATAAAAGTAG...      1

In [16]:
#split the sequence in the cgr way
#convert the squenceof strings to k-mers 
def kmer(sequence , size = 7):
  return [sequence[i:i+size].lower() for i in range(len(sequence) - size+1 )]

data['words'] = data.apply(lambda x : kmer(x['DNASequence']) , axis = 1)
data = data.drop('DNASequence' , axis = 1)
data.head()

   label                                              words
0      1  [cctcaaa, ctcaaat, tcaaatc, caaatca, aaatcac, ...
1      1  [cctcaaa, ctcaaat, tcaaatc, caaatca, aaatcac, ...
2      1  [cctcaaa, ctcaaat, tcaaatc, caaatca, aaatcac, ...
3      1  [cctcaaa, ctcaaat, tcaaatc, caaatca, aaatcac, ...
4      1  [cctcaaa, ctcaaat, tcaaatc, caaatca, aaatcac, ...

In [17]:
#join into  one sentence
data_x = data['words']
for i in range(len(data_x)):
  data_x[i] = ' '.join(data_x[i])
y = np.array(data['label'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [44]:
cv = CountVectorizer( ngram_range = (1,1))
X = cv.fit_transform(data_x).toarray()

In [45]:
X_df = pd.DataFrame(X, columns= cv.get_feature_names())
X_df.head()

   aaaaaag  aaaaaat  aaaaaca  aaaaacc  ...  ycctatt  ytccttt  ytgtatg  yttagaa
0        3        0        0        0  ...        0        0        0        0
1        3        1        0        0  ...        0        0        0        0
2        2        1        0        0  ...        0        0        1        0
3        2        1        0        0  ...        0        0        0        1
4        1        1        0        0  ...        0        0        0        0

[5 rows x 11333 columns]

In [47]:
max(X[0])

3

In [51]:
N = len(data.iloc[0,0])
k=7
total_len_kmer = N-k+1

In [53]:
def propability(row):
  return row/total_len_kmer
X_frequnecy = X_df.apply(lambda row:propability(row) , axis = 1)
X_frequnecy.head()

    aaaaaag   aaaaaat  aaaaaca  aaaaacc  ...  ycctatt  ytccttt   ytgtatg   yttagaa
0  0.002933  0.000000      0.0      0.0  ...      0.0      0.0  0.000000  0.000000
1  0.002933  0.000978      0.0      0.0  ...      0.0      0.0  0.000000  0.000000
2  0.001955  0.000978      0.0      0.0  ...      0.0      0.0  0.000978  0.000000
3  0.001955  0.000978      0.0      0.0  ...      0.0      0.0  0.000000  0.000978
4  0.000978  0.000978      0.0      0.0  ...      0.0      0.0  0.000000  0.000000

[5 rows x 11333 columns]